@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
*{  font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
}
img{
    width: 500px;
    height: 500px;
}
body{
    background-color: rgb(204, 121, 121);
    background: linear-gradient(180deg,(pink)0%,(red)25%,(darkred)50%(orangered)100%);
    background-repeat: no-repeat;
    width: 50wv;
    height: 50hv;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: beige;
    background-size: cover;
}
h1{
    margin: 10px;

}
#button{
        width: 100px;
        height: 50px;
        background: white;
        color: black;
        text-align: center;
        line-height: 50px;
        font-size: 40px;
}
#button:hover{
    cursor: pointer;
    box-shadow: 50%;
}
#jokecontenet,#joke{
    font-size: 40px;
    line-height: 40px;
}
#jokecontenet,img{
    margin-top: 10px;
}